#!/bin/sh

# PROVIDE: hpex49xled
# REQUIRE: LOGIN
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# hpex49xled_enable (bool):          Set to NO by default.
#               Set it to YES to enable hpex49xled.
# hpex49xled_user (string):          Set user that hpex49xled will run under
#               Default is "nobody".
# hpex49xled_group (string):         Set group that hpex49xled will run under
#               Default is "nobody".
# hpex49xled_args (string):          Set extra arguments to pass to hpex49xled
#               Default is "".
# hpex49xled_listen_address (string):Set ip:port that hpex49xled will listen on
#               Default is ":9100".
# hpex49xled_textfile_dir (string):  Set directory that hpex49xled will watch
#               Default is "/var/tmp/hpex49xled".

. /etc/rc.subr

name=hpex49xled
rcvar=hpex49xled_enable

load_rc_config $name

: ${hpex49xled_enable:="NO"}
: ${hpex49xled_user:="root"}
: ${hpex49xled_group:="wheel"}
: ${hpex49xled_args:=""}

pidfile=/var/run/hpex49xled.pid
command="/usr/sbin/daemon"
procname="/usr/local/bin/hpex49xled"
command_args="-f -p ${pidfile} -T ${name} \
    /usr/bin/env ${procname} "

start_precmd=hpex49xled_startprecmd

hpex49xled_startprecmd()
{
    if [ ! -e ${pidfile} ]; then
        install -o ${hpex49xled_user} -g ${hpex49xled_group} /dev/null ${pidfile};
    fi
}

load_rc_config $name
run_rc_command "$1"

